{% extends 'base.html.twig' %}

{% block title %}Edit Enrollment{% endblock %}

{% block body %}
    <h1>Edit Enrollment</h1>

    {{ include('enrollment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_enrollment_index') }}">back to list</a>

    {{ include('enrollment/_delete_form.html.twig') }}
{% endblock %}
